[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
firebase-admin = "*"
requests-toolbelt = "*"
python-dotenv = "*"
google-cloud-storage = "*"
google-cloud-vision = "*"
google-api-core = "*"
google-cloud-core = "*"
google-cloud = "*"
jupyter = "*"
ipykernel = "*"
google-cloud-datastore = "*"
google-oauth = "*"
pandas = "*"
xlrd = "*"

[requires]
python_version = "3.7"
