<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Analytics page</title>
  <script></script>

</head>

<style>

div.hideByDefault {
  display: none;
}

</style>

<body>

{% include 'navigationBar.html' %}
{% include 'check_user.html' %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<h1>Here is a an overview of your main expenditures </h1>
<div id="charts_overview">
  Click on any month to show the categorical break down of expenditure:
  <div id="chart_spend_by_month"></div>

  <div id="show_one_month" class="hideByDefault test2ndclass">
    <button onclick="hideElementById('show_one_month')"> Hide table </button>
    <br>
    <div id="chart_spend_by_month_cat_details"></div>
  </div>

  <div id="chart_spend_by_month"></div>
  <div id="chart_spend_by_month_item_details"></div>

  <div id="chart_trending_items"></div>

  <div id="chart_spend_by_store"></div>
</div>

{% if not expense_by_main_cat.empty %}
    <table>
      <tr>
        <th> Year </th>
        <th> Month </th>
        <th> Main category </th>
        <th> Sum - Gross </th>
        <th> Sum - Net </th>
        <th> Sum - Discount </th>
        <th> Sum - Items </th>
      </tr>

      {% for key,value in expense_by_main_cat.iterrows() %}
      <tr>
        <td> {{value["trans_year"]}} </td>
        <td> {{value["trans_month"]}} </td>
        <td> {{value["main_cat"]}} </td>
        <td> {{value["price_gross"]}} </td>
        <td> {{value["price_net"]}} </td>
        <td> {{value["discount_amt"]}} </td>
        <td> {{value["item_count"]}} </td>
      </tr>
      {% endfor %}
    </table>
    <br>
{% endif %}

  <script>
  (function() {
    document.cookie = "SameSite=None; Secure; path=/";

    var x = document.cookie;
  })();

  </script>

  <script>
  // Load data tables from backend
  var expenseByMonth = JSON.parse({{ expense_by_month|tojson }});
  var expenseByMonthDetails = JSON.parse({{ expenses_by_month_and_cat|tojson }});

  </script>

  <script type="text/javascript">

  function hideElementById(elementId){
    var x = document.getElementById(elementId);
      x.style.display = "none";
  }

  function showElementById(elementId){
    var x = document.getElementById(elementId);
    x.style.display = "block";
  }

  </script>

  <script type="text/javascript">

    // Global variables
    // Control display of drawMonthlyCatDetailsTable
    var controlCategoryDetailsMonth = 4;

    // Static lookup tables
    var months_short = ['Jan', 'Feb', 'Mar', 'Apr', 'May','Jun', 'Jul', 'Aug', 'Sep','Oct', 'Nov', 'Dec'];

    // Load google charts
    google.charts.load('current', {'packages':['corechart', 'table']});

    google.charts.setOnLoadCallback(drawColumnChart);
    google.charts.setOnLoadCallback(drawMonthlyCatDetailsTable);

    // Draw the chart and set the chart values
    function drawColumnChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Month');
      data.addColumn('number', 'Spend per Month');

      // Add rows to table
      var count = Object.keys(expenseByMonth["trans_month_short"]).length;
      for (var i = 0; i < count; i++){
        var month = expenseByMonth["trans_month_short"][i];
        var spend = expenseByMonth["price_net"][i];
        data.addRows([[month, spend]]);
      }

      var options = {
        title: "Spend per month",
        width: 800,
        height: 400,
        bar: {groupWidth: "90%"},
        legend: { position: "none" },
        vAxes: {
          0: {baseline: 0}
        },
        colors: ['#005f5f']
      };

      // Display the chart inside the <div> element
      var chart1 = new google.visualization.ColumnChart(document.getElementById("chart_spend_by_month"));
      chart1.draw(data, options);

      // Every time the chart fires the "select" event, it should call your selectHandler() function.
      google.visualization.events.addListener(chart1, 'select', chart1SelectHandler);

      //function chart1SelectHandler(e) {
      function chart1SelectHandler() {
        var selection = chart1.getSelection();
        var message = '';

        for (var i = 0; i < selection.length; i++) {
          var item = selection[i];

          var selectedMonth = expenseByMonth["trans_month_short"][item.row];
          var selectedMonthNum = months_short.indexOf(selectedMonth) + 1;

          console.log("User clicked on month_num: "+selectedMonthNum);
          // Update global variable to control table detail selection:
          controlCategoryDetailsMonth = selectedMonthNum;

          // Redraw table and set property to visible / block
          drawMonthlyCatDetailsTable();
          showElementById("show_one_month");
        }
      }
    }

    // Draw the monthly category details chart and set the chart values
    function drawMonthlyCatDetailsTable() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Category #');
      data.addColumn('string', 'Category');
      data.addColumn('number', 'Spend');
      data.addColumn('number', 'Change since last month [%]');

      // Add rows to table
      var count = Object.keys(expenseByMonthDetails["cat_id"]).length;
      for (var i = 0; i < count; i++){
        var trans_month = expenseByMonthDetails["trans_month"][i];

        // Only add if row is selected month
        if (trans_month==controlCategoryDetailsMonth) {
              var main_cat = expenseByMonthDetails["cat_id"][i];
              var cat_name = expenseByMonthDetails["cat_name"][i];
              var spend = expenseByMonthDetails["price_net"][i];
              var change = expenseByMonthDetails["change_since_last_month"][i];
              data.addRows([[main_cat, cat_name, spend, change]]);
        }

      }

      // Data formatters
      // https://developers.google.com/chart/interactive/docs/reference#formatters
      var formatter = new google.visualization.ArrowFormat();
      var percentFormatter = new google.visualization.NumberFormat({
        pattern: '#,### %'
      });
      var numberFormatter = new google.visualization.NumberFormat({
        pattern: '# ###'
      });

      // Apply formatters
      numberFormatter.format(data, 2);
      formatter.format(data, 3);
      percentFormatter.format(data, 3);

      var options = {
        title: "Spend per category for selected month",
        width: 800,
        height: 400,
        bar: {groupWidth: "90%"},
        legend: { position: "none" },
        vAxes: {
          0: {baseline: 0}
        },
        allowHtml: true
      };

      // Display the chart inside the <div> element
      var chart2 = new google.visualization.Table(document.getElementById("chart_spend_by_month_cat_details"));
      chart2.draw(data, options);

    }


  </script>

</body>
</html>
