<!doctype html>
<html lang="en">
<title>Expense analyzer</title>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
</head>
<body>
{% include 'navigationBar.html' %}
<h1>Expense Analyzer</h1>
<form action="/uploadImageToBucket" method=post enctype=multipart/form-data>
  Upload image: <input type="file" name="input_image" accept="image/*">
  <br>
  <br>
  Select store type: <select name="store_name">
        <option value="coop_mega">Coop Mega</option>
        <option value="bunnpris">Bunnpris (TBA)</option>
        <option value="rema1000">Rema 1000 (TBA)</option>
    </select>
    <br>
    <input type="hidden" name="user" id="user" value="NAME HERE">
    <br><br>
  <input type="submit" value=Upload>
</form>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAfeYX2LU7mNDxfupyeMCb0HmJ1MCO4KqQ",
    authDomain: "expense-analyzer-260008.firebaseapp.com",
    databaseURL: "https://expense-analyzer-260008.firebaseio.com",
    projectId: "expense-analyzer-260008",
    storageBucket: "expense-analyzer-260008.appspot.com",
    messagingSenderId: "438670908109",
    appId: "1:438670908109:web:4cb0e83043cbe89ac82784"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  // Get the Auth service for the default app
  var defaultAuth = firebase.auth();

  firebase.auth().onAuthStateChanged(
    function(user) {
      if (user) {
        var name = user.displayName;
        console.log(user);
        /* If the provider gives a display name, use the name for the
        personal welcome message. Otherwise, use the user's email. */
        var welcomeName = name ? name : user.email;
        console.log(welcomeName);
        document.getElementById('user').value = welcomeName;
      } else {
        console.log("No user found")
      }
  });

</script>


</body>
</html>
